.colorPanel {
  width: 420px;
  height: 500px;
  position: absolute;
  background-color: #ffffff;
  z-index: 10000;
}
.content_min {
  position: absolute;
  max-width: 100%;
}
.content_full {
  max-width: 100%;
  position: fixed;
}
.palete {
  width: 220px;
  height: 200px;
  border: solid 1px #000;
}
.rezPalete {
  width: 200px !important;
  height: 100px;
}
.basicColor {
  margin-left: 15px;
}
.bsEl {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
  border: solid 1px #ccc;
  border-radius: 2px;
  transition: 0.1s;
}
.bsEl:hover {
  border: solid 3px #ccc;
}
.react-p5 {
  margin-left: 12px;
}
