.controlPanel {
  z-index: 9000;
  background-color: #ffffff;
}
.controlPanel table tr td {
  width: 80px;
  padding-left: 0px;

}
.controlPanel table tr td select{
  /*margin-top: 22px;*/
}
.listItems{
  text-align: center;
}