.cssElements {
  min-width: 300px;
  min-height: 150px;
  position: absolute;
  display: none;
  text-align: left;
  z-index: 10000;
}
.cssElementsReclama {
  position: absolute;
  display: none;
  text-align: right;
  margin-top: -25px;
  min-width: 300px;
  height: 60px;
  z-index: 10000;
  cursor: pointer;
}
.headingBtn:hover > .cssElements {
  display: block;
}
.headingBtn:hover > .cssElementsReclama {
  display: block;
}
.cssElementsBtn {
  position: absolute;
  margin-top: -40px;
  margin-left: 130px;
}
