.headers {
  padding: 0px;
}
.headers li {
  position: relative;
}
.headers li ul {
  position: absolute;
}
.headers {
  display: inline-flex;
  margin-top: 5px;
  margin-left: 5px;
}
.headers button {
  margin-right: 8px;
}
.headers svg:hover {
  padding: 2px;
  background-color: #cccccc;
}
.headers button:hover {
  background-color: #cccccc;
}
.head-button-H1,
.head-button-H2,
.head-button-H3,
.head-button-H4,
.head-button-H5,
.head-button-P {
  background-color: #cccccc;
}
.head-button-H1 svg,
.head-button-H2 svg,
.head-button-H3 svg,
.head-button-H4 svg,
.head-button-H5 svg,
.head-button-P svg {
  padding: 2px;
  background-color: #cccccc;
}
