.left-iteml {
  background-color: #cccccc;
}
.left-iteml svg {
  padding: 2px;
}
.center-itemc {
  background-color: #cccccc;
}
.center-itemc svg {
  padding: 2px;
}
.right-itemr {
  background-color: #cccccc;
}
.right-itemr svg {
  padding: 2px;
}
.aligns svg:hover {
  padding: 2px;
  background-color: rgb(239, 241, 245);
}
.aligns button {
  border: none;
  background-color: #ffffff;
}
.aligns button:hover {
  background-color: rgb(239, 241, 245);
}
.list {
  margin-left: 5px;
}
