.left-left {
  background-color: rgb(239, 241, 245) !important;
}
.left-left svg {
  padding: 2px;
}
.center-center {
  background-color: rgb(239, 241, 245) !important;
}
.center-center svg {
  padding: 2px;
}
.right-right {
  background-color: rgb(239, 241, 245) !important;
}
.right-right svg {
  padding: 2px;
}
.aligns svg:hover {
  padding: 2px;
  background-color: rgb(239, 241, 245);
}
.aligns button {
  border: none;
  background-color: rgb(255, 255, 255);
}
.aligns button:hover {
  background-color: rgb(239, 241, 245);
}
.list {
  margin-left: 5px;
}
