.cintent_text {
  width: 100%;
  height: 860px;
  overflow: scroll;
  background-color: #ffffff;
}
.cintent_text_full {
  z-index: 80000;
  overflow: scroll;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
  background-color: #ffffff;
}
.sizes {
  cursor: pointer;
  margin-left: 15px;
}
.sizes button {
  border: none;
}
.sizes button:hover {
  background-color: #cccccc;
}
.sizes svg:hover {
  padding: 2px;
}
.panel {
  border-bottom: solid 1px #cccccc;
  background-color: #ffffff;
  left: 0px;
  right: 0px;
  margin: auto;
  max-width: 1110px;
  z-index: 9000;
}
.panel .images {
  cursor: pointer;
}

.contentDtext .text_block {
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 20px;
}
.contentDtext .text {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: block;
}
.contentDtext .textno {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: none;
}
.aligns svg {
  cursor: pointer;
}
.imgRemove {
  position: absolute;
  z-index: 8000;
  background-color: #ffffff;
}
.imgRemove svg {
  cursor: pointer;
}
.controlPanel svg {
  cursor: pointer;
}
.imgRemove input {
  font-size: large;
}
.imgRemove button {
  padding: 2px;
  padding-bottom: 4px;
  border: none;
}
.imgRemove button:hover {
  padding: 2px;
  padding-bottom: 4px;
  border: none;
  background-color: #cccccc;
}
.controlPanel {
  z-index: 9000;
  background-color: #ffffff;
}
