.cintent_text {
  width: 100%;
  height: 860px;
  overflow: scroll;
  background-color: #ffffff;
}
.cintent_text_full {
  z-index: 80000;
  overflow: scroll;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
  background-color: #ffffff;
}
.sizes {
  cursor: pointer;
}
.panel{
  border-bottom: solid 1px #cccccc;
  background-color: #ffffff;
  left: 0px;
  right: 0px;
  margin: auto;
  max-width: 1110px;
}
.panel .images {
  cursor: pointer;
}

.contentDtext .text_block {
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.contentDtext .text {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: block;
}
.contentDtext .textno {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: none;
}
.aligns svg {
  cursor: pointer;
}
.imgRemove {
  position: absolute;
  z-index: 8000;
  background-color: antiquewhite;
  width: 250px;
  
}
.imgRemove svg {
  cursor: pointer;
}
.controlPanel svg {
  cursor: pointer;
}
.imgRemove input{
  font-size: large;
}
.indent{
  z-index: 8500;
  cursor: pointer;
  width: 32px;
  height: 32px;
  font-size: 20pt;
  text-align: center;
  background-color: #fff;
  margin-top: 0px;

}
.indent div{
  
  margin-top: -4px;
  
}
.indent:hover{
  padding: 2px;
  background-color: #cccccc;
  font-size: 18pt;
}

.P4{
  padding: 2px;
  background-color: #cccccc;
  font-size: 18pt;
}
