.itemsTd {
  border: solid 1px #cccccc;
}
.tableRedactor {
  position: absolute;
  background-color: #ffffff;
  z-index: 8000;
}
.removeDiv {
  text-align: right;
  display: none;
  position: relative;
}
.removeDiv h5 {
  position: absolute;
  right: 0;
  margin-top: -30px;
  font-size: 20pt;
  cursor: pointer;
  width: 50px;
}
.divTable:hover .removeDiv {
  display: block;
}
.tableButton {
  border: none;
  margin-right: 30px;
  margin-left: 8px;
}
.tableButton:hover {
  background-color: #cccccc;
}
.tableButton:hover svg {
  padding: 2px;
}
.tbl {
  width: 100%;
  min-height: 50px;
}
.tbl td {
  height: 50px;
}
.tableRedactor svg {
  margin-right: 15px;
}
.tableRedactor svg:hover {
  padding: 2px;
}
.tsittens {
  position: absolute;
  margin-top: -27px;
  margin-left: 14px;
}
.tablesreate .tsittens {
  display: none;
}
.tablesreate:hover .tsittens {
  display: block;
}
